<div
  class="flex justify-start items-center rounded w-full"
  [ngClass]="{ 'bg-secondary-blue': active }">
  <button class="inline-block p-2" (click)="onArrowClick()">
    <img
      class=""
      width="7"
      height="10"
      ngSrc="assets/icons/arrow-right.svg"
      alt="Open or close side navigation" />
  </button>
  <button
    class="flex items-center space-x-2 w-full h-full"
    (click)="onBodyClick()">
    <img
      class=""
      width="20"
      height="16"
      ngSrc="assets/icons/folder_icon.svg"
      alt="Folder icon" />
    <p class="font-semibold">{{ label }}</p>
  </button>
</div>
