<header
  class="h-12 bg-gray-200 flex w-full z-10 justify-between items-center pl-4 pr-2">
  <div class="flex items-center gap-4">
    <img src="assets/icons/letter-s.png" alt="Logo" class="h-full w-5" />
    <h4 class="font-bold">Portfolio</h4>
  </div>

  <div
    class="hidden laptop:flex laptop:w-18 laptop:justify-evenly laptop:items-center laptop:h-full">
    <ng-container *ngFor="let _ of [].constructor(3)">
      <svg class="w-5 h-5" fill="none">
        <circle cx="10" cy="10" r="7" stroke="#6A6A6A" stroke-width="1" />
      </svg>
    </ng-container>
  </div>

  <!-- mobile menu button -->
  <button
    (click)="onHamburgerMenuButtonClicked($event)"
    data-collapse-toggle="navbar-default"
    type="button"
    class="laptop:hidden inline-flex items-center w-10 h-10 justify-center text-sm text-white rounded-lg hover:bg-gray-100"
    aria-controls="navbar-default"
    aria-expanded="false">
    <span class="sr-only">Open main menu</span>
    <svg
      class="w-5 h-4"
      aria-hidden="true"
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 17 14">
      <path
        stroke="currentColor"
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M1 1h15M1 7h15M1 13h15" />
    </svg>
  </button>
</header>
