<section>
  <p class="mb-2 font-mono text-accent">&#64;About</p>
  <h1>{{ about?.name }}</h1>
  <h5 class="mb-4 font-mono text-accent">{{ about?.jobTitle }}</h5>
  <p class="max-w-2xl">{{ about?.description }}</p>
  <div class="pt-8">
    <pw-text-button label="View Work" route="/projects"></pw-text-button>
  </div>
  <div class="relative -top-48 right-0">
    <div
      class="absolute top-0 right-0 bg-cover bg-right-top h-64 w-1/2 laptop:h-96"
      style="
        background-image: url(&quot;assets/images/code.png&quot;);
        filter: blur(4px);
        transform: scale(-1, 1);
      "></div>
  </div>
</section>
