<section>
  <div class="flex flex-col items-start justify-center">
    <h6
      *ngIf="project?.subtitle"
      class="mb-2 text-accent text-xs tablet:text-sm font-mono"
      pwUnderscoreLabel
      [label]="'@' + project?.subtitle"></h6>

    <h1 class="font-bold">
      {{ project?.title }}
    </h1>

    <div *ngIf="project?.links" class="mt-6 flex flex-wrap gap-2 items-start justify-start">
      <div *ngFor="let link of project?.links">
        <ng-container *ngIf="link.type === LinkType.APPLE_STORE || link.type === LinkType.PLAY_STORE; else iconButton">
          <a href="{{ link.url }}" target="_blank">
            <img class="w-auto h-10" src="{{ iconSrcFromLinkType(link.type) }}" alt="{{ link.altText }}" />
          </a>
        </ng-container>
        <ng-template #iconButton>
          <pw-icon-button
            url="{{ link.url }}"
            label="{{ link.label ? link.label : link.type }}"
            altText="{{ link.altText }}"
            iconSrc="{{ iconSrcFromLinkType(link.type) }}"></pw-icon-button>
        </ng-template>
      </div>
    </div>

    <div class="flex flex-wrap gap-1 pt-6 items-start justify-start">
      <pw-tag *ngFor="let tag of project?.tags" label="{{ tag.name }}" [isImportant]="tag.isImportant"></pw-tag>
    </div>
    <p class="pt-2 text-gray-50 line-clamp-5 tablet:line-clamp-3 max-w-2xl">
      {{ project?.shortDescription }}
    </p>

    <h5 class="font-bold pt-6">Description</h5>
    <p class="pt-1 text-gray-0 max-w-xl">
      {{ project?.longDescription }}
    </p>

    <h5 class="font-bold pt-6">Tasks</h5>
    <ul class="ml-4">
      <li class="pt-1 text-gray-0 max-w-xl text-sm list-disc" *ngFor="let impl of project?.implementations">
        {{ impl }}
      </li>
    </ul>
    <pw-image-swiper class="pt-8 w-full tablet:w-[35rem]" [images]="project?.images"></pw-image-swiper>
  </div>
</section>
