<section>
  <div class="flex flex-col items-start justify-center">
    <pw-page-title [title]="project?.title" [annotationText]="project?.subtitle"></pw-page-title>

    <div *ngIf="project?.links" class="mt-6 flex flex-wrap gap-2 items-start justify-start">
      <div *ngFor="let link of project?.links">
        <ng-container *ngIf="link.type === LinkType.APPLE_STORE || link.type === LinkType.PLAY_STORE; else iconButton">
          <a href="{{ link.url }}" target="_blank">
            <img class="w-auto h-10" src="{{ iconSrcFromLinkType(link.type) }}" alt="{{ link.altText }}" />
          </a>
        </ng-container>
        <ng-template #iconButton>
          <pw-icon-button
            url="{{ link.url }}"
            label="{{ link.label || buttonLabelFromLinkType(link.type) || link.type }}"
            altText="{{ link.altText }}"
            iconSrc="{{ iconSrcFromLinkType(link.type) }}"></pw-icon-button>
        </ng-template>
      </div>
    </div>

    <div class="flex flex-wrap gap-1 pt-6 items-start justify-start">
      <pw-tag *ngFor="let tag of project?.tags" label="{{ tag.name }}" [isImportant]="tag.isImportant"></pw-tag>
    </div>
    <p class="pt-2 text-gray-50 line-clamp-5 tablet:line-clamp-3 max-w-2xl">
      {{ project?.shortDescription }}
    </p>

    <div class="flex flex-col desktop:flex-row desktop:gap-x-32 desktop:items-start w-full desktop:flex-wrap">
      <div>
        <h3 class="font-bold pt-6">Description</h3>
        <p class="pt-2 text-gray-0 max-w-xl">
          {{ project?.longDescription }}
        </p>

        <h3 class="font-bold pt-6">Tasks and Implementations</h3>
        <ul class="ml-4 pt-2 flex flex-col gap-y-2">
          <li class="text-gray-0 max-w-xl text-sm list-disc" *ngFor="let impl of project?.implementations">
            {{ impl }}
          </li>
        </ul>
      </div>

      <pw-image-swiper class="pt-8" [images]="project?.images"></pw-image-swiper>
    </div>
  </div>
</section>
