<section>
  <div class="flex flex-col items-start justify-center">
    <h6
      *ngIf="project?.subtitle"
      class="mb-2 text-accent text-xs tablet:text-sm font-mono"
      pwUnderscoreLabel
      [label]="'@' + project?.subtitle"></h6>
    <h1 class="font-bold">
      {{ project?.title }}
    </h1>
    <div class="flex flex-wrap gap-x-1 gap-y-1 pt-8 items-start justify-start">
      <pw-tag *ngFor="let tag of project?.tags" label="{{ tag.name }}"></pw-tag>
    </div>
    <p class="pt-4 text-gray-50 line-clamp-5 tablet:line-clamp-3 max-w-2xl">
      {{ project?.shortDescription }}
    </p>
    <h6 class="font-bold pt-4">Description</h6>
    <p class="pt-1 text-gray-0 max-w-2xl">
      {{ project?.longDescription }}
    </p>
  </div>
</section>
