<section>
  <p class="mb-2 font-mono text-accent">&#64;Work</p>
  <h1>Projects</h1>
  <p class="my-4 max-w-xl">
    In this section you'll find a chronicle of related works spanning from the first day of solving problems to the
    present day, showcasing achievements from <strong>work, academia, and leisure</strong> pursuits. Please keep in mind
    that some projects cannot be disclosed to the public if they have not been released <strong>yet</strong> or if they
    will <strong>never</strong> be released.
  </p>
  <div class="mt-8">
    <pw-card-list [projects]="projectData"></pw-card-list>
  </div>
</section>
