<section>
  <pw-page-title title="Projects" annotationText="Work"></pw-page-title>
  <p class="my-4 max-w-xl animate-[fade-in-down_300ms_ease-in-out] laptop:animate-[fade-in-down_600ms_ease-in-out]">
    In this section you'll find a chronicle of related works spanning from the first day of developing software to the
    present day, showcasing achievements from <strong>work, academia, and leisure</strong> pursuits. Please keep in mind
    that some projects cannot be disclosed to the public if they have not been released <strong>yet</strong> or if they
    will <strong>never</strong> be released.
  </p>
  <div class="mt-8">
    <pw-card-list [projects]="projectData"></pw-card-list>
  </div>
</section>
