/* Import TailwindCSS */
@tailwind base;

:root {
  --primary: #2B2C32;
  --secondary: #4b4a56;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 14px;
  border: 3px solid var(--primary);
}

@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-bold text-white text-3xl sm:text-4xl lg:text-6xl;
  }

  h2 {
    @apply font-sans text-white text-lg sm:text-2xl lg:text-3xl;
  }

  h3 {
    @apply font-sans text-white text-base sm:text-xl lg:text-2xl;
  }

  h4 {
    @apply font-sans text-white text-sm sm:text-lg lg:text-xl;
  }

  h5 {
    @apply font-sans text-white text-base sm:text-base lg:text-lg;
  }

  p {
    @apply font-sans text-white text-sm text-justify;
  }
}

