<div
  class="pl-3 pr-2 h-full flex items-center justify-center border-b-4 tablet:border-b-2 hover:bg-gray-100 hover:text-black"
  [routerLinkActive]="
    'border-b-4 tablet:border-b-2 hover:secondary-blue border-secondary-blue bg-black text-secondary-blue'
  "
  [routerLinkActiveOptions]="{ exact: true }">
  <a
    class="h-full flex items-center justify-center"
    [ngClass]="{ 'pr-4': navItem?.navType === NavigationType.MAIN }"
    [routerLink]="navItem?.route">
    <img
      class="mr-2"
      width="16"
      height="16"
      ngSrc="assets/icons/{{ navItem?.fileInfo?.fileName }}.{{
        navItem?.fileInfo?.fileExtension
      }}"
      alt="{{ navItem?.fileInfo?.altText }}" />
    {{ navItem?.label + "." + navItem?.fileInfo?.fileType }}</a
  >
  <button
    *ngIf="navItem?.navType === NavigationType.DYNAMIC"
    (click)="onRemoveTabClick()"
    class="mb-0.5 flex items-center justify-center rounded-full text-gray-50 hover:text-black hover:bg-black text-base">
    <img
      class="m-1"
      width="14"
      height="14"
      ngSrc="assets/icons/close_icon.svg"
      alt="Close window" />
  </button>
</div>
