<div
  class="flex flex-col rounded-xl shadow-xl bg-gray-300 tablet:w-60 h-full desktop:w-64 hover:bg-secondary-active-blue laptop:hover:shadow-2xl laptop:transition laptop:hover:scale-105 laptop:ease-in-out laptop:duration-300"
  (click)="onClick()">
  <div class="relative object-cover object-center">
    <img
      class="w-full rounded-t-xl h-24 tablet:h-40 object-cover object-center"
      src="{{ images[0].imageUrl }}"
      alt="{{ images[0].altText }}" />
  </div>

  <div class="p-4 flex flex-col items-start justify-center">
    <h3 class="font-bold">
      {{ title }}
    </h3>
    <h6 *ngIf="subtitle" class="text-accent pt-1/2 tablet:pt-1 font-mono">
      {{ subtitle }}
    </h6>
    <p class="pt-2 tablet:pt-4 text-gray-50 line-clamp-5 tablet:line-clamp-3">
      {{ description }}
    </p>
    <div
      class="hidden mt-auto tablet:flex flex-wrap gap-x-1 gap-y-1 pt-2 tablet:pt-4 items-start justify-start">
      <pw-tag *ngFor="let tag of tags" label="{{ tag.name }}"></pw-tag>
    </div>
  </div>
</div>
