<aside
  #sidenav
  class="max-laptop:drop-shadow-2xl border-r-2 transition-transform ease-in-out laptop:translate-x-0 fixed z-40 top-0 left-0 h-screen laptop:h-full bg-gray-200 laptop:static laptop:col-span-1 laptop:row-span-1 laptop:flex border-black"
  [ngClass]="{
    'translate-x-0 laptop:border-r-4': isOpen,
    '-translate-x-full laptop:border-r-0': !isOpen
  }">
  <div
    class="hidden laptop:flex justify-between flex-shrink-0 flex-grow-0 w-14 flex-col border-r-4 border-black overflow-hidden">
    <button
      (click)="onNavigationToggleClick()"
      class="flex items-center justify-center p-2 m-2 rounded"
      [ngClass]="isOpen ? 'bg-secondary-blue' : 'bg-gray-100'">
      <img class="" width="24" height="24" ngSrc="assets/icons/folder_icon.svg" alt="Open or close side navigation" />
    </button>

    <div class="pb-2">
      <pw-social-links></pw-social-links>
    </div>
  </div>
  <div class="overflow-y-auto laptop:overflow-hidden w-60" [ngClass]="{ 'laptop:hidden': !isOpen }">
    <p class="py-3 px-4 laptop:py-1.5 border-b-2 border-gray-300 text-white">Project</p>
    <nav class="mt-4 mx-4 my-2">
      <li class="list-none">
        <pw-side-navigation-folder label="Portfolio" [items]="mainNavItems"></pw-side-navigation-folder>
        <pw-side-navigation-folder label="Assets/Data" [items]="projectNavItems"></pw-side-navigation-folder>
      </li>
    </nav>
  </div>
</aside>
