<aside
  class="hidden h-full bg-gray-200 laptop:col-span-1 laptop:row-span-1 laptop:flex">
  <div
    class="flex flex-initial w-14 flex-col border-r-4 border-black overflow-hidden">
    <button
      class="flex items-center justify-center p-2 bg-secondary-blue m-2 rounded">
      <img
        class=""
        width="24"
        height="24"
        ngSrc="assets/icons/folder_icon.svg"
        alt="Open or close side navigation" />
    </button>
  </div>
  <div class="laptop:flex-grow laptop:flex-1 border-r-4 border-black">
    <div class="my-2 mx-4">
      <p class="font-semibold">Project</p>
      <nav class="mt-4">
        <!-- button to close navigation folder -->
        <li class="list-none">
          <pw-side-navigation-folder
            label="Portfolio"
            (isClicked)="onChildClicked($event)"></pw-side-navigation-folder>
        </li>
      </nav>
    </div>
  </div>
</aside>
