<section>
  <pw-page-title title="Experiences" annotationText="Experiences"></pw-page-title>

  <div class="flex flex-col laptop:grid grid-flow-col-dense auto-cols-fr gap-x-8 max-w-6xl">
    <pw-experience-category
      iconSrc="assets/icons/curly_brackets.svg"
      iconSrcAltTxt="Image of curly brackets"
      title="Programming Languages"
      description="Syntax understanding, lifecycle, async operations, states and security aspects with multiple months of development
        time in projects."
      items="miau"></pw-experience-category>
    <pw-experience-category
      iconSrc="assets/icons/books.svg"
      iconSrcAltTxt="Image of books"
      title="Libraries & Frameworks"
      description="Syntax understanding, lifecycle, async operations, states and security aspects with multiple months of development
        time in projects."
      items="miau"></pw-experience-category>
    <pw-experience-category
      iconSrc="assets/icons/tools.svg"
      iconSrcAltTxt="Image of tools"
      title="Tools & Platforms"
      description="Syntax understanding, lifecycle, async operations, states and security aspects with multiple months of development
        time in projects."
      items="miau"></pw-experience-category>
  </div>

  <p class="my-4 max-w-xl">
    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore
    magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd
    gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing
    elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero
    eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum
    dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut
    labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.
    Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet,
    consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed
    diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata
    sanctus est Lorem ipsum dolor sit amet.
  </p>
</section>
