<section>
  <pw-page-title title="Experiences" annotationText="Relevant Knowledge"></pw-page-title>

  <div class="flex flex-col gap-x-8 mt-8 desktop:pr-40">
    <div class="flex flex-wrap mb-8 gap-8 laptop:gap-x-8 laptop:justify-between w-full">
      <div class="flex gap-x-4 items-start">
        <img ngSrc="assets/images/branch.svg" class="row-span-full mt-1" height="213" width="20" />
        <div class="flex flex-col gap-y-8">
          <h3 class="font-bold -mb-6">Education</h3>
          <pw-experience-item
            *ngFor="let educationExperience of experiences?.education"
            [experience]="educationExperience"></pw-experience-item>
        </div>
      </div>

      <div class="flex gap-x-4 items-start">
        <img ngSrc="assets/images/branch.svg" class="row-span-full mt-1" height="213" width="20" />
        <div class="flex flex-col gap-y-8">
          <h3 class="font-bold -mb-6">Work</h3>
          <pw-experience-item
            *ngFor="let workExperience of experiences?.workExperiences"
            [experience]="workExperience"></pw-experience-item>
        </div>
      </div>
    </div>

    <div class="flex flex-col laptop:grid laptop:grid-cols-3 gap-x-8 w-full">
      <pw-experience-category
        iconSrc="assets/icons/curly_brackets.svg"
        iconSrcAltTxt="Image of curly brackets"
        title="Programming Languages"
        description="Syntax understanding, code architecture, lifecycle, async operations, states and security aspects with multiple months of development
        time in projects."
        [items]="experiences?.programmingLanguages"></pw-experience-category>
      <pw-experience-category
        iconSrc="assets/icons/books.svg"
        iconSrcAltTxt="Image of books"
        title="Frameworks & Systems"
        description="Any system that requires a significant amount of time to understand to get the most out of optimization and in order to apply best practices."
        [items]="experiences?.frameworks"></pw-experience-category>
      <pw-experience-category
        iconSrc="assets/icons/tools.svg"
        iconSrcAltTxt="Image of tools"
        title="Tools & Platforms"
        description="Commonly used tools for organizing or developing projects."
        [items]="experiences?.tools"></pw-experience-category>
    </div>
  </div>
</section>
