<section>
  <pw-page-title title="Imprint" annotationText="Info"></pw-page-title>

  <div class="max-w-xl gap-y-4 mt-4">
    <h5 class="font-mono text-accent mb-2">Contact Information</h5>
    <p class="mb-2">info[at]sandra-herbst.com</p>
    <p>Sandra Jennifer Herbst <br />Kreuzweg 9<br />73660 Urbach<br />Germany <br /></p>

    <h5 class="mb-2 font-mono text-accent mt-4">VAT registration number</h5>
    <p class="max-w-xl">DE349877695</p>

    <h5 class="mb-2 font-mono text-accent mt-4">Copyright</h5>
    <p>
      © All rights reserved. The content of this website, including but not limited to text, images, graphics, and
      multimedia elements, is protected by copyright law. No part of this website may be reproduced, distributed, or
      transmitted in any form or by any means, without the prior written permission of Sandra Herbst.
    </p>
  </div>
</section>
